<h1>Listing customers</h1>

<br/ ><br />

<%= link_to "Add A New Customer", new_customer_path %>

<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Phone</th>
    <th>Cell</th>
    <th>Vehicle Make</th>
    <th>Vehicle Model</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first %></td>
    <td><%= customer.last %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.cell %></td>
    <td><%= customer.vehicle %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Remove', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

