<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @customer.first %>
</p>

<p>
  <b>Last:</b>
  <%= @customer.last %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Cell:</b>
  <%= @customer.cell %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
